# Python virtual environment
venv/
env/
.env

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Test files and coverage
.pytest_cache/
.coverage
htmlcov/

# System files
.DS_Store
.idea/
.vscode/

# Local configuration files
local_settings.py

# Database files
*.sqlite3

# Local media file
media/

# Node.js files
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build files
frontend/build/
frontend/dist/

# IA model files
models/*.bin
models/*.pt
models/*.pth